.text-input {
  display: flex;
  padding: 0.4rem 0;
  flex-direction: column;

  input {
    font-size: 1.6rem;
    background-color: var(--input-bg);
    border: none;
    outline: none;
    padding: 0.5rem 2rem 0.8rem 1.3rem;
    border-radius: 4px;
    border: 1px solid transparent;

    &::placeholder {
      color: var(--placeholder-text);
    }

    &:focus {
      background-color: var(--background);
      border: 1px solid var(--input-bg);
      box-shadow: var(--input-selected-shadow);
      color: var(--placeholder-text) !important;
    }
  }

  &.input__error {
    position: relative;

    &::before {
      content: '!';
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--error);
      font-weight: 600;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      z-index: 10;
      background-color: var(--error-bg);
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      border: 1px solid var(--error);
      background-color: var(--background);

      &::placeholder {
        color: var(--error);
        opacity: 0.8;
      }
    }
  }
}
