@import "../styles/shared.scss";

.dropdown {
  box-shadow: var(--input-selected-shadow);
  background-color: #fff;
  > li {
    padding: 1rem;
    cursor: pointer;
    width: 30rem;

    &:hover {
      background-color: var(--input-bg);
    }
  }
}
