@import '../styles/shared.scss';

.dropdown {
  background-color: #fff;
  position: absolute;
  border-radius: 0 0 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
  height: 0%;
  opacity: 0;
  visibility: hidden;

  > li {
    padding: 1rem;
    cursor: pointer;
    max-width: 32rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    position: relative;
    z-index: 40;

    &:hover {
      background-color: var(--input-bg);
    }
  }
}

.dropdown__active {
  visibility: visible;
  opacity: 1;
  height: auto;
  box-shadow: var(--input-selected-shadow);
  z-index: 100;
}

.dropdown__error {
  li {
    color: var(--error);

    &:hover {
      background-color: transparent;
    }
  }
}
