@import '../styles/shared.scss';

.dropdown {
  box-shadow: var(--input-selected-shadow);
  background-color: #fff;
  position: absolute;
  border-radius: 0 0 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > li {
    padding: 1rem;
    cursor: pointer;
    max-width: 26rem;
    min-width: 26rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;

    &:hover {
      background-color: var(--input-bg);
    }
  }
}
