.header {
  height: 80px;
  background-color: var(--header-bg);
  color: var(--text-reverse);

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;

    > button {
      justify-self: flex-end;
    }
  }
}
