.pipeline {
  // box-shadow: var(--shadow-1);
  padding: 1.5rem;
  // border-radius: 10px;
  background-color: var(--background);
  display: flex;
  padding-right: 60%;

  &:nth-child(2n) {
    background-color: var(--input-bg);
  }

  > div:first-child {
    .pipeline__branch {
      cursor: pointer;
      font-weight: 500;
      display: flex;
      align-items: center;
      width: 30rem;

      > svg {
        margin-right: 0.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .pipeline__status {
      padding: 0.2rem 1rem;

      text-align: center;
      // border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 500;
      display: inline-flex;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      &--running {
        background-color: var(--tag-gray);
      }

      &--pending {
        background-color: var(--tag-gray);
      }

      &--success {
        background-color: var(--tag-green);
      }

      &--failed {
        background-color: var(--tag-red);
      }

      &--canceled {
        background-color: var(--tag-orange);
      }

      &--skipped {
        background-color: var(--tag-yellow);
      }
    }
  }

  > div:last-child {
    display: flex;
    margin-left: auto;
    align-items: center;

    .pipeline__time-elapsed {
      font-size: 1.3rem;
      display: flex;
      align-items: center;

      > svg {
        width: 1.6rem;
        margin-right: 0.2rem;
      }
    }

    .pipeline__gitlab-url {
      padding: 0.2rem 1rem;

      color: var(--text);
      font-size: 1.4rem;

      display: flex;
      align-items: center;
    }

    .pipeline__notifications-toggle {
      cursor: pointer;
      svg {
        display: flex;
        align-items: center;
        fill: var(--placeholder-text);
      }
    }
  }
}
