.pipeline {
  margin-bottom: 1rem;
  box-shadow: var(--shadow-1);
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--background);
  display: flex;
  width: 30%;

  > div:first-child {
    .pipeline__branch {
      font-weight: 500;
      display: flex;
      align-items: center;

      > svg {
        margin-right: 0.5rem;
      }
    }

    .pipeline__status {
      padding: 0.2rem 1rem;

      text-align: center;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 500;
      display: inline-flex;

      justify-content: center;

      &--running {
        background-color: var(--tag-gray);
      }

      &--pending {
        background-color: var(--tag-gray);
      }

      &--success {
        background-color: var(--tag-green);
      }

      &--failed {
        background-color: var(--tag-red);
      }

      &--canceled {
        background-color: var(--tag-orange);
      }

      &--skipped {
        background-color: var(--tag-yellow);
      }
    }
  }

  > div:last-child {
    display: flex;
    margin-left: auto;

    .pipeline__time-elapsed {
      font-size: 1.3rem;
      display: flex;
      align-items: center;

      > svg {
        width: 1.6rem;
        margin-right: 0.2rem;
      }
    }

    .pipeline__gitlab-url {
      padding: 0.2rem 1rem;

      color: var(--text);
      font-size: 1.4rem;

      display: flex;
      align-items: center;
    }
  }
}
