.project-card {
  .project-card__name {
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .project-card__namespace {
    font-size: 1.4rem;
  }
}
