@import "../styles/settings.scss";

.project-card {
  transition: background-color 0.1s ease;

  .project-card__name {
    font-weight: 600;
    cursor: pointer;
  }

  .project-card__namespace {
    font-size: 1.4rem;
  }
}
