.pipeline {
  padding: 1.5rem;
  background-color: var(--background);
  display: flex;

  &:nth-child(2n) {
    background-color: var(--input-bg);
  }

  > div:first-child {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .pipeline__branch {
      cursor: pointer;
      font-weight: 500;
      display: inline-flex;
      align-items: center;

      > svg {
        margin-right: 0.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .pipeline__status {
      padding: 0.1rem 1rem;

      text-align: center;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 500;
      display: inline-flex;
      justify-content: center;
      display: inline-flex;
      // align-items: center;

      > img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -0.3rem);
      }

      &:hover {
        cursor: pointer;
      }

      &--running {
        background-color: var(--tag-blue);
      }

      &--pending {
        background-color: var(--tag-orange);
      }

      &--success {
        background-color: var(--tag-green);
      }

      &--failed {
        background-color: var(--tag-red);
      }

      &--canceled {
        background-color: var(--tag-orange);
      }

      &--skipped {
        background-color: var(--tag-yellow);
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    width: 30rem;
    justify-content: flex-end;

    align-items: center;

    .pipeline__time-elapsed {
      font-size: 1.3rem;
      display: flex;
      align-items: center;

      > svg {
        width: 1.6rem;
        margin-right: 0.2rem;
        fill: #707070;
      }
    }

    .pipeline__gitlab-url {
      padding: 0.2rem 1rem;

      color: var(--text);
      font-size: 1.3rem;

      display: flex;
      align-items: center;
    }

    .pipeline__notifications-toggle {
      cursor: pointer;
      svg {
        display: flex;
        align-items: center;
        fill: var(--placeholder-text);
      }
    }
  }

  .pipeline__started-at {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;

    > svg {
      width: 1.6rem;
      margin-right: 0.2rem;
      fill: #707070;
    }
  }

  .pipeline__user {
    margin-right: 0.7rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pipeline__user-name {
      font-size: 1.3rem;
      margin-right: 1rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    .pipeline__user-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      border-radius: 50%;
      overflow: hidden;

      > img {
        width: 3rem;
        height: 3rem;
        border: 2px solid var(--background);

        border-radius: 50%;
      }
    }
  }

  .pipeline__loading {
    padding: 1.5rem;
    margin-left: 0 !important;
    display: flex;
    align-items: center;

    .loading-spinner {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
