.project__header {
  width: 100%;
  padding: 1.2rem;
  box-shadow: var(--box-shadow-1);
  border-top: 4px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--input-bg);

  > div {
    > h1 {
      font-size: 1.8rem;
    }
  }

  > button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--input-bg);

    > svg {
      fill: var(--placeholder-text);
    }
  }
}

.project__filters {
  display: flex;
  margin-left: 2rem;

  > div {
    border-radius: 4px;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: var(--white);
    padding: 0 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    box-shadow: var(--input-selected-shadow);

    > svg {
      width: 1.5rem;
      margin-left: 0.5rem;
      cursor: pointer;
      margin-top: 2px;
    }
  }
}

.project {
  padding: 2rem 1.2rem;
  width: 100%;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--error);
}

.project__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
