/* COLORS */
$colorPrimary: #da7cac;
$colorPrimaryLight: #f8e2e9;
$colorPrimaryDark: #b94b96;
$white: #fff;
$offWhite: hsl(0, 0%, 87%);
$black: #272727;
$yellowLight: #faf9dc;
$yellow: #f8f5c4;
$textBlack: #273849;
$textGrayOnLight: #8f8f8f;
$lightGray: #f8f8f8;
$lightGray2: #f2f2f2;
$grayBorder: rgba(218, 124, 172, 0.1);
$blue: #74cee0;
$error: #ffa27b;
$errorBackground: #ffe7cb;
$green: #48d6b6;
$lightGreen: #ecfaf7;
$inputText: #6b7c93;

/* FORM */
$inputBackground: #f6f9fc;
$placeholderText: #8898aa;
$inputSelectedShadow: 0 0 0 1px #e4effa;
