.project-form {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;

  > button {
    font-size: 3rem;
    margin-left: 1rem;
  }

  input {
    width: 30rem;
  }

  .dropdown {
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 50;
  }
}
