.project-form {
  width: 100%;
  position: relative;

  > input {
    width: 100%;
  }

  > button {
    font-size: 3rem;
    margin-left: 1rem;
  }

  .dropdown {
    position: absolute;
    top: 6rem;
    left: 0;
  }

  .project-form__search {
    position: relative;

    .loading-spinner {
      position: absolute;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      top: 1.75rem;
    }
  }
}
